@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "@skeletonlabs/skeleton/themes/terminus";
@plugin "@tailwindcss/forms";
@import "github-markdown-css/github-markdown.css";
@import "carta-md/default.css";
@import "katex/dist/katex.css";

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

.select,
.input,
.textarea,
.input-group {
	color: var(--color-surface-950-50);
	background-color: var(--color-surface-50-950);
}

[data-mode="dark"] .carta-theme__default {
	--border-color: var(--border-color-dark);
	--selection-color: var(--selection-color-dark);
	--focus-outline: var(--focus-outline-dark);
	--hover-color: var(--hover-color-dark);
	--caret-color: var(--caret-color-dark);
	--text-color: var(--text-color-dark);
}

.markdown-body {
	--bgColor-default: inherit;

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}
}

.carta-font-code {
	font-family: var(--font-mono);
	font-size: 1.1rem;
	line-height: 1.1rem;
	color: inherit !important;
	letter-spacing: normal;
}

.Gás {
	--name-color: #a12d1f;
}

.Líquido {
	--name-color: #3d7ba3;
}

.Sólido {
	--name-color: initial;
}

.Desconhecido {
	--name-color: #f1ea66;
}

.Não-Metal {
	--color: #3996ea;
}

.Metal-Alcalino {
	--color: #e94f3e;
}

.Metal-Alcalino-Terroso {
	--color: #f88a26;
}

.Metal-de-Transição {
	--color: #ffd30b;
}

.Metal-Pós-Transição {
	--color: #36db7c;
}

.Semimetal {
	--color: #2da78d;
}

.Halogênio {
	--color: #f077a2;
}

.Gás-Nobre {
	--color: #a35fc4;
}

.Lantanídeo {
	--color: #2b9e5e;
}

.Actinídeo {
	--color: #32b79a;
}
