@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "@skeletonlabs/skeleton/themes/terminus";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

.select,
.input,
.textarea,
.input-group {
	color: var(--color-surface-950-50);
	background-color: var(--color-surface-50-950);
}

.markdown-body {
	p {
		@apply my-2 leading-7;
	}

	ul {
		@apply list-disc ml-6 my-2 ps-[1.625em];
	}

	ol {
		@apply list-decimal ml-6 my-2 ps-[1.625em];
	}

	h1 {
		@apply text-3xl font-bold mt-8 mb-3;
	}

	h2 {
		@apply text-2xl font-semibold mt-6 mb-2;
	}
}

.Gás {
	--name-color: #a12d1f;
}

.Líquido {
	--name-color: #3d7ba3;
}

.Sólido {
	--name-color: initial;
}

.Desconhecido {
	--name-color: #f1ea66;
}

.Não-Metal {
	--color: #3996ea;
}

.Metal-Alcalino {
	--color: #e94f3e;
}

.Metal-Alcalino-Terroso {
	--color: #f88a26;
}

.Metal-de-Transição {
	--color: #ffd30b;
}

.Metal-Pós-Transição {
	--color: #36db7c;
}

.Semimetal {
	--color: #2da78d;
}

.Halogênio {
	--color: #f077a2;
}

.Gás-Nobre {
	--color: #a35fc4;
}

.Lantanídeo {
	--color: #2b9e5e;
}

.Actinídeo {
	--color: #32b79a;
}
